code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.tick line {
  stroke: #c0c0bb;
}
.tick text {
  fill: #635f5d;
}
.mark {
  fill: #5a9ee8;
}

.line-circle {
  fill: #5a9ee8;
}

.path {
  stroke: #5a9ee8;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.axis-label {
  font-size: 2.5em;
  fill: #635f5d;
}
